.Central {
  text-align: center;
}
.Titulo {
  text-align: center;
}
.Central_bt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding: 10px;
}
.MenuPrincipal{
  background-color: #2F3248;
  padding: 10px 20px;
  box-shadow: 0 2px 5px #0000001a;
}
.MenuPrincipal ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.MenuPrincipal a{
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.MenuPrincipal li{
  margin-right: 10px;
  /* padding: 10px 0;
  border-bottom: 1px solid #ccc; */
}
#Logo{
  position: var(1px);
}



fieldset {
  background-color: #CFCFCF;
  border-radius: 20px;
  border-style: none;
  width: 30%;
  display: grid;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
body {
  background-color: #F2F0ED;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
h1 {
  color: #2F3248;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
h2 {
  color: #2F3248;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
h3 {
  color: #2F3248;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
button {
  background-color: #2F3248;
  border-radius: 10px;
  cursor: pointer;
  color: #bdc6f4;
  padding: 6px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
input {
  border-radius: 6px;
  border-style: none;
  height: 28px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}