* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
padding-top: 20px; /* Espaço para ver os exemplos */
}
/* Container para os exemplos */
.container {
border: 2px dashed #ccc;
padding: 10px;
margin-bottom: 20px;
}

/* Estilo base para todas as caixas */
.caixa {
    border-radius: 15px;
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 3px solid #333;
    margin: 10px;
}

.avatar-flutuante {
float: left;
width: 300px;
margin-right: 15px; /* Espaço entre a
imagem e o texto */
}

/* Dando cores para identificar */
#caixa1 { background-color: #f3a867; }
#caixa2 { background-color: #54d088; }
#caixa3 { background-color: #4a9acf; }
#caixa4 { background-color: #9a47ba; }

#caixa2 {
position: relative;
top: 20px; /* Desce 30px */
left: 400px; /* Vai 50px para a direita */
z-index: 10; /* Fica na frente da caixa 3 */

/* O espaço original da Caixa 2
(verde) ainda está lá,
mas a caixa 3 (azul) vai se
sobrepor a ela! */
}

#caixa3 {
position: absolute;
top: 100px; /* 5px do topo do .container */
right: 5px; /* 5px da direita do .container */
width: 100px; /* Reduzimos para caber */
z-index: 5; /* Fica atrás da caixa 2 */
}

#caixa4 {
position: fixed;
top: 10px; /* 10px do final da janela */
right: 10px; /* 10px da direita da janela */
width: 250px;
/* Esta caixa vai ficar no canto da tela mesmo se você rolar a página */
}

img {
    width: 300px;
}